<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419690487952-lbh6kuhk1aqh5v0vfhv2keogqntr065h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419690487952-lbh6kuhk1aqh5v0vfhv2keogqntr065h</string>
	<key>API_KEY</key>
	<string>AIzaSyB9UhTAi7oBOYV8avXWmqYiiegRbyjE6EY</string>
	<key>GCM_SENDER_ID</key>
	<string>419690487952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ideasminer.RunIt</string>
	<key>PROJECT_ID</key>
	<string>runit-5e6b3</string>
	<key>STORAGE_BUCKET</key>
	<string>runit-5e6b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419690487952:ios:7b0cd1ab39c5cf7d323815</string>
	<key>DATABASE_URL</key>
	<string>https://runit-5e6b3.firebaseio.com</string>
</dict>
</plist>